.MyCurriculliumVitae{
    font-size: Large;
    color: blue;
}
.Aboutme{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color:blueviolet;
}
.EducationalBackGround{
    font-size: medium;
    font-style: italic;
    color: brown;
}
.BackGround{
    color: turquoise;
}